* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 20px;
}



.contenedor div {
    width: 50%;
    float: right;
}

.primario {
    background: rgb(21, 0, 255);
}

.secundario {
    background: yellow;
}