* {
    font-family: 'Lobster', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

body{
    background-color: #000;
}
.caja{
    margin: 95px;
    width: 200px;
    height: 300px;
    border: 5px solid red;
    background: rgba(194,190,192,1);
    opacity: 1;
}

.caja2{
    margin: auto;
    width: 200px;
    height: 300px;
    border: 5px solid red;
    background-color: rgb(255,55,0);
}
.caja3{
    margin: 45px;
    width: 200px;
    height: 300px;
    border: 5px solid red;
    background-color: rgb(55,0,0);
}