* {
    font-family: 'Lobster', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.caja1 {
    height: 200px;
    width: 200px;
    background: slateblue;
    transition: all 1s, border 0.5s;
    border: 3px solid red;
    text-align: center;
}

.caja1:hover {
    background: darkslateblue;
    height: 300px;
    width: 300px;
    border-color: blue;
}

.caja2 {
    padding: 20px;
    background-color: rgb(204, 45, 59);
    color: #fff;
}

.caja2:hover {
    padding: 20px;
    background: rgb(194, 191, 216);
    color: #000;
}